$backgroundColorApp: #fafbff;
$boxShadow: rgba(226, 236, 249, 0.5);
$mainColorActive: #5932ea;
$whiteColor: #ffffff;
$blackColor: #000000;
$greyColor: #757575;
$navLinkColor: #9197b3;
$versionColor: #838383;
$activeColor: #16c098;

// Form
$backgroundInput: #f9fbff;
$inputColor: #b5b7c0;

//Table
$tableBorderColor: #eeeeee;
$tableTheadColor: #b5b7c0;
$tableTdColor: #292d32;
$activeStatus: rgba(22, 192, 152, 0.38);
$activeColorStatus: #00b087;
$inActiveStatus: #ffc5c5;
$inActiveColorStatus: #df0404;

//Pagination
$paginationTextColor: #b5b7c0;
$paginationBackgroundColor: #f5f5f5;
$paginationLinkColor: #404b52;
